<% include ./partials/header.ejs %>
    <div class="w-full min-h-screen bg-zinc-800 px-10 py-8 text-white ">
        <div class="cards flex flex-wrap gap-10 ">
            <%posts.forEach((elem)=>{%>
                <div class="card h-52 w-72 bg-contain ">
                    <div class="  bg-sky-200 rounded-lg  overflow-hidden shadow-zinc-400 bg-contain shadow-md">
                        <img src="/images/uploads/<%= elem.image %>" alt="" class="w-full h-full object-cover ">
                    </div>
                    <h5 class="mt-2 text-xs  text-center"><%= elem.title %></h5>
                </div>
                <% })%>
        </div>
    </div>
<% include ./partials/footer.ejs %>